body {
  --background-absolute: #fff;
  --foreground-absolute: #000;

  --primary-color: #d5311d;
  --secondary-color: #3d1b39;
  --tertiary-color: #e69524;
  --tertiary-color-light: color-mix(
    in oklch,
    var(--tertiary-color) 90%,
    var(--background-absolute)
  );
  --gray-color: #222;

  --gray-background: color-mix(
    in oklch,
    var(--foreground-absolute) 75%,
    var(--background)
  );
  --gray-muted: color-mix(
    in oklch,
    var(--foreground-absolute) 35%,
    var(--background)
  );

  background-color: var(--primary-color);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
