body {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;

  overflow: hidden;

  --background-absolute: #fff;
  --foreground-absolute: #000;
  --text-color: #fff;

  --primary-color: #d5311d;
  --secondary-color: #3d1b39;
  --tertiary-color: #e69524;
  --tertiary-color-light: color-mix(
    in oklch,
    var(--tertiary-color) 90%,
    var(--background-absolute)
  );
  --gray-color: #222;
  --gray-traslucent: color-mix(in oklch, var(--gray-color) 40%, transparent);
  --box-shadow-color: rgba(255, 255, 255, 0.6);

  --gray-background: color-mix(
    in oklch,
    var(--foreground-absolute) 75%,
    var(--background-absolute)
  );
  --gray-muted: color-mix(
    in oklch,
    var(--foreground-absolute) 35%,
    var(--background-absolute)
  );

  background: linear-gradient(
    var(--foreground-absolute) 10%,
    var(--primary-color) 70%
  );
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
